* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.header-section {
  background-color: aqua;
  width: 100%;
  height: 150px;
}

.nav-section {
  background-color: burlywood;
  width: 100%;
  height: 200px;
}

.middle-section {
  overflow: hidden;
}
.left {
  width: 50%;
  height: 300px;
  float: left;
}

.top {
  background-color: darkgoldenrod;
  height: 50%;
}
.bottom {
  background-color: forestgreen;
  height: 50%;
}
.right {
  width: 50%;
  height: 300px;
  float: right;
  background-color: lightcoral;
}
.footer-section {
  background-color: grey;
  height: 100px;
}
