* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.header-section {
  background-color: aqua;
  width: 100%;
  height: 150px;
}

.nav-section {
  background-color: burlywood;
  width: 100%;
  height: 200px;
}

.middle-section {
  overflow: hidden;
}
.middle-first {
  width: 50%;
  height: 300px;
  background-color: cadetblue;
  float: left;
}
.divOf-secThird {
  width: 50%;
  float: right;
}
.middle-second {
  background-color: darkgoldenrod;
  height: 150px;
}
.middle-third {
  background-color: forestgreen;
  height: 150px;
}
.footer-section {
  background-color: grey;
  height: 100px;
}
